<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Chinese Food</title>
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <meta name="theme-color" content=
    #FF0000">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
</head>

<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <div class="header__inner">
            <h1 class="header__title">
                Chinese Food
            </h1>
        </div>
        <button id="menu" class="header__menu" aria-label="navigation-menu">☰</button>
        <nav id="drawer" class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/">Home</a></li>
                <li class="nav__item"><a href="#/favorite">Favorite</a></li>
                <li class="nav__item"><a href="https://www.linkedin.com/in/hendra-wijaya-subandi-835501221/">About</a>
                </li>
            </ul>
        </nav>
    </header>


    <div class="hero"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/heros/hero-image_2.jpg);">
        <div class="hero__inner">
            <h1 class="hero__title">Chinese Food 好吃</h1>
            <p class="hero__tagline">Mau makan-makanan chinese? Disini tempatnya! 来来来!</p>
        </div>
    </div>
    <main id="maincontent" tabindex="0">
    </main>
    <footer>
        <p>Copyright © 2020 - Chinese Food</p>
    </footer>
</body>

</html>